body{
	background-color: #CEF6F5;
	padding-top: 5px;
}
[class*="col-"], footer {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}

.logo{
	width: 395px;
	height: 60px;
	display: inline-block;
	background: url("/image/plpimg.png") no-repeat;
	background-position: left top;
}