/* Déclaration des variables*/
@gris_plp: #E4E7E9;
@bleu_plp: #0C5AA6;
@vert_plp: #23CC23;
@vertclair_plp: #73E56E;
@height_carre: 120px;

.selectzone{
	color: @bleu_plp;
	font-size: 5em;
}

.sansPuce{
	list-style-type: none;
}

.part{
	background-color: @gris_plp;
}

.navbar-default {
	background-color: @gris_plp;
	border: none;
}

.subBigTitle {
	padding-top: 50px;
	color: @bleu_plp;
	font-size: 2.4em;
	line-height: 1.5em;
}

.subBigTitle2{
	margin-top: 50px;
	color: @gris_plp;
	font-weight: bold;
	background-color: @bleu_plp;
	font-size: 2.3em;
	line-height: 1.3em;
	border: solid 2px @vert_plp;
}

.carre{
	background-color: @gris_plp;
	height: @height_carre;
	padding: 10px;
}

.link:hover{
	text-decoration: none;
}

.carre:hover{
	transform: scale(1.1);
	cursor: pointer;
}

.carre_titre{
	color: @bleu_plp;
	text-align: center;
	font-size: 18px;
}

.carre_info{
	background-color: @vertclair_plp;
	height: @height_carre;
}

.row2{
	padding-top: 30px;
}

.no-padding-left{
	padding-left: 0px;
}

.subBigTitle2:hover{
	transform: scale(1.2);
}

.home-page{
	padding-top: 60px;
}

.bigtitle{
	width: 675px;
	height: 92px;
	display: inline-block;
	background: url("/image/plp_meteor.svg") 0px -50px no-repeat;
}

.logo{
	width: 340px;
	height: 48px;
	display: inline-block;
	background: url("/image/plp_meteor.svg") no-repeat;
	background-position: top left;
}

.list-group-item.selected {
	background-color: rgba(0, 0, 255, 0.5);
}


.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
