<template name="header">
 <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
  {{#if currentUser}}
    <div class="navbar-header">
 
      <a class="navbar-brand logo" href="{{pathFor 'homePage'}}"></a>
    </div>
  {{/if}}

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>

      {{#if currentUser}}
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> {{_ "donnees"}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{pathFor 'studentPage' _id=_id}}">{{_ "classes"}}</a></li>
            <li><a href="#">{{_ "salles"}}</a></li>
            <li><a href="#">{{_ "sujets"}}</a></li>
            <li class="divider"></li>
            <li><a href="#">{{_ "info_perso"}}</a></li>
            <li><a href="{{pathFor 'schoolPage'}}"> {{_ "etablissements"}}</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> {{_ "applications"}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">{{_ "pdc"}}</a></li>
            <li><a href="#">{{_ "appreciations"}}</a></li>
            <li><a href="#">{{_ "eval"}}</a></li>
          </ul>
        </li>
        <li><a href="#">{{_ "aide"}}</a></li>
        <!-- Todo : mettre la liste des schools du teacher -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 
            {{school}}
            <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            {{#each allSchools}}
              <li><a href="{{pathFor 'schoolPage' _id=_id}}">{{school}}</a></li>
            {{/each}}
            <li>{{>school_creation}}</li>
          </ul>
        </li>
      </ul>
      {{/if}}
    </div>
  </div>
</nav>
</template>
