<template name="schoolPage">
	{{> schoolItem}}

	{{> openCreateEtabForm}}
	{{> createEtabForm}}
</template>


<template name="createEtabForm">
  <div class="hide createEtab" id="createEtabForm">
    
          <form class="main">
    		<div class="row">
  				<div class="col-lg-6">
   					 <div class="input-group">
      					
      					<input type="text" name="nom" class="form-control" placeholder="Nom de l'établissement">
      					<span class="input-group-btn">
        					<button class="btn btn-default" type="Submit">Ajouter</button>
      					</span>
    				</div>
  				</div>
			</div>
    	  </form>
  </div>
</template>

<template name="openCreateEtabForm">
 <span class="glyphicon glyphicon-plus-sign" id="openCreateEtabForm"></span>
 <span class="hide createEtab glyphicon glyphicon-remove-sign" id="closeCreateEtabForm"></span>
</template>