<template name="deleteRoom">
	<div class="row">
		<div class="col-md-offset-2 col-md-8 centerAlign bigwrite">
			<p>{{_ "salle_supp_attention"}}</p>
			<p>{{_ "salle_supp"}}</p>
		</div>
		<div class="col-md-offset-5 col-md-2 no_padding_left no_padding_right">
			<li class="dropdown sansPuce">
				<button class="btn dropdown-toggle btn-lg btn-default active btn-block" data-hover="dropdown" data-toggle="dropdown">
					<a id="roomActive">{{this.selectedRoom}}</a>
					<b class="caret"></b>
				</button>
				<ul class="dropdown-menu">
					{{#each displayedRooms this}}
					<li><a class="room-item">{{roomName}}</a></li>
					{{/each}}
				</ul>
			</li>
		</div>
	</div>

	<div class="row espace_dessus">
		<div class="col-md-offset-2 col-md-4 espaceButton">
			<button id="validSupp" class="col-md-12 btn btn-lg btn-default">
				{{_ "salle_supp_valid"}}
			</button>
		</div>
		<div class="col-md-4 espaceButton">
			<button id="stopSupp" class="col-md-12 btn btn-lg btn-default">
				{{_ "revenir"}}
			</button>
		</div>
	</div>

</template>