<template name="roomLigneSelect">
	<div>
		<form role="form" class="form-horizontal">
			<fieldset>
				<div id="ligne_select" class="form-group">
					<label class="row control-label">{{_ "nb_lignes"}}</label>
					<div class="row">
						<div class="col-md-5 no_padding_left">
							<select class="form-control" id="lignes">
								{{#each displayedLignes}}
								{{#if selected}}
								<option value="{{this.nbLignes}}" selected="selected">{{this.nbLignes}}</option>
								{{else}}
								<option value="{{this.nbLignes}}">{{this.nbLignes}}</option>
								{{/if}}
								{{/each}}
							</select>
						</div>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</template>