<template name="roomSelect">

	<div class="row espace_dessous">
		<div class="col-md-4 logo_seat"></div>
		<div class="col-md-8">
		<h3>{{_ "salle_select"}}</h3>
		</div>
	</div>
	<div class="row espace_dessous">
		<div id="selectRoom">
			<div class="col-md-11 no_padding_left no_padding_right">
				<li class="dropdown sansPuce">
					<button class="btn dropdown-toggle btn-lg btn-default active btn-block" data-hover="dropdown" data-toggle="dropdown">
						<a id="roomActive" class="elementSelectionne">{{school.selectedRoom}}</a>
						<b class="caret"></b>
					</button>
					<ul class="dropdown-menu">
						{{#each displayedRooms school}}
						<li><a class="room-item">{{this.roomName}}</a></li>
						{{/each}}
						<li>{{>roomCreation school}}</li>
					</ul>
				</li>
			</div>
			<div id="modifRoomName" class="col-md-1 no_padding_left">
				<span class="biggly hov glyphicon glyphicon-pencil"></span>
			</div>
		</div>

		<div id="changeNameRoom" class="hide input-group input-group-lg">
			<input id="newName" data-oldName="{{school.selectedRoom}}" class="form-control" type="text" value="{{school.selectedRoom}}" aria-describedby="validNewRoomName"/>
			<span id="validNewRoomName" class="input-group-addon glyphicon glyphicon-ok">
			</span>
		</div>
	</div>
</template>