<template name="studentPage">
	
	<span>

		<div class="btn-group-vertical" role="group">
			{{#each displayedGroups}}
				{{#if selected}}
					<a href="#" role="button" class="list-group-item group-name selected">{{groupName}}</a>
				{{else}}
					<a href="#" role="button" class="list-group-item group-name">{{groupName}}</a>
				{{/if}}
			{{/each}}

			{{>groupCreation}}
		</div>

		<div>
			<ul class="list-group">
				{{#each displayedStudents}}
					<li class="list-group-item">
						{{prenom}} {{nom}}	{{index}}
						<span class="glyphicon glyphicon-pencil openStudentModification"></span>
						{{>studentModification nomEleve=nom prenomEleve=prenom idSchool=idSchool}}
					</li>
				{{/each}}
			</ul>
			

			{{>studentCreation}}
		</div>

	</span>




	




</template>
