<template name="roomPage">
	<div class="row">
		<div class="col-md-6">
			<div class="col-md-6 selectzone">
				<h3>{{_ "salle_select"}}</h3>
			</div>
			<div class="col-md-6">
				<li class="dropdown sansPuce">
					<button class="btn dropdown-toggle btn-lg" data-hover="dropdown" data-toggle="dropdown">
						<a id="roomActive">{{selectedRoom}}</a>
						<b class="caret"></b>
					</button>
					<ul class="dropdown-menu">
						{{#each displayedRooms}}
						<li><a class="room-item">{{this.roomName}}</a></li>
						{{/each}}
						<li>{{>roomCreation}}</li>
					</ul>
				</li>
			</div>
		</div>
		<div class="col-md-3">

		</div>
	</div>
	<div>
		<form role="form" class="form-horizontal">
			<fieldset>
				<div class="form-group">
					<label class="col-sm-2 control-label">Row:</label>
					<div class="col-sm-3">
						<select class="form-control" id="lignes">
							{{#each displayedLignes}}
							{{#if selected}}
								<option value="{{this.nbLignes}}" selected="selected">{{this.nbLignes}}</option>
							{{else}}
								<option value="{{this.nbLignes}}">{{this.nbLignes}}</option>
							{{/if}}
							
							{{/each}}
						</select>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	<div>
		<form role="form" class="form-horizontal">
			<fieldset>
				<div class="form-group">
					<label class="col-sm-2 control-label">Col:</label>
					<div class="col-sm-3">
						<select class="form-control" id="colonnes">
							{{#each displayedColonnes}}
							{{#if selected}}
								<option value="{{this.nbColonnes}}" selected="selected">{{this.nbColonnes}}</option>
							{{else}}
								<option value="{{this.nbColonnes}}">{{this.nbColonnes}}</option>
							{{/if}}
		
							{{/each}}
						</select>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	{{>roomTable}}
</template>